In [1]:
import pandas as pd

In [2]:
import numpy as np

# Use Pandas' read_csv function open it as a DataFrame

In [6]:
df=pd.read_csv(r"C:\Users\faisa\Downloads\police_project.csv")
df

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

# What does each row represent

In [12]:
df.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

# How to check the shape of dataset?

In [16]:
df.shape

(91741, 15)

# How to get the basic statistics of all the columns?

In [13]:
df.describe()

       county_name  driver_age_raw    driver_age
count          0.0    86414.000000  86120.000000
mean           NaN     1970.491228     34.011333
std            NaN      110.914909     12.738564
min            NaN        0.000000     15.000000
25%            NaN     1967.000000     23.000000
50%            NaN     1980.000000     31.000000
75%            NaN     1987.000000     43.000000
max            NaN     8801.000000     99.000000

# Check the type of columns?

In [21]:
df.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

# Locating missing Values?
# # detecting missing values
## calculates the sum of each columnÂ¶

In [22]:
df.isna

<bound method DataFrame.isna of         stop_date stop_time  county_name driver_gender  driver_age_raw  \
0      2005-01-02     01:55          NaN             M          1985.0
1      2005-01-18     08:15          NaN             M          1965.0
2      2005-01-23     23:15          NaN             M          1972.0
3      2005-02-20     17:15          NaN             M          1986.0
4      2005-03-14     10:00          NaN             F          1984.0
...           ...       ...          ...           ...             ...
91736  2015-12-31     20:27          NaN             M          1986.0
91737  2015-12-31     20:35          NaN             F          1982.0
91738  2015-12-31     20:45          NaN             M          1992.0
91739  2015-12-31     21:42          NaN             M          1993.0
91740  2015-12-31     22:46          NaN             M          1959.0

       driver_age driver_race                   violation_raw  \
0            20.0       White                        Speeding
1            40.0       White                        Speeding
2            33.0       White                        Speeding
3            19.0       White                Call for Service
4            21.0       White                        Speeding
...           ...         ...                             ...
91736        29.0       White                        Speeding
91737        33.0       White  Equipment/Inspection Violation
91738        23.0       White         Other Traffic Violation
91739        22.0       White                        Speeding
91740        56.0    Hispanic                        Speeding

              violation  search_conducted search_type   stop_outcome  \
0              Speeding             False         NaN       Citation
1              Speeding             False         NaN       Citation
2              Speeding             False         NaN       Citation
3                 Other             False         NaN  Arrest Driver
4              Speeding             False         NaN       Citation
...                 ...               ...         ...            ...
91736          Speeding             False         NaN        Warning
91737         Equipment             False         NaN        Warning
91738  Moving violation             False         NaN        Warning
91739          Speeding             False         NaN       Citation
91740          Speeding             False         NaN       Citation

      is_arrested stop_duration  drugs_related_stop
0           False      0-15 Min               False
1           False      0-15 Min               False
2           False      0-15 Min               False
3            True     16-30 Min               False
4           False      0-15 Min               False
...           ...           ...                 ...
91736       False      0-15 Min               False
91737       False      0-15 Min               False
91738       False      0-15 Min               False
91739       False      0-15 Min               False
91740       False      0-15 Min               False

[91741 rows x 15 columns]>

In [23]:
df.isna().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

# Dropping Column that only contains missing values.

In [32]:
df.drop('county_name',axis=1,inplace=True)

KeyError: "['county_name'] not found in axis"

# Do the men or women speed more often

In [33]:
df.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [34]:
df['violation'].unique()

array(['Speeding', 'Other', 'Equipment', 'Moving violation', nan,
       'Registration/plates', 'Seat belt'], dtype=object)

In [40]:
filt=df['violation']=='speeding'
speeding_df=df[filt]
speeding_df['driver_gender'].value_counts()

Series([], Name: driver_gender, dtype: int64)

In [45]:
time=pd.to_datetime(df['stop_date'])
time.dt.year.value_counts()

2012    10970
2006    10639
2007     9476
2014     9228
2008     8752
2015     8599
2011     8126
2013     7924
2009     7908
2010     7561
2005     2558
Name: stop_date, dtype: int64

# Does gender affect who gets searched during a stop?

In [49]:
search=df['search_conducted']
df[search]['driver_gender'].value_counts()

M    2725
F     471
Name: driver_gender, dtype: int64

# How does drug activity change by time of day?

In [51]:
search=df['drugs_related_stop']
time_of_day = pd.to_datetime(df[filt]['stop_time'])
time_of_day.dt.hour.value_counts()

0     312
23    278
1     276
10    212
14    178
9     175
2     171
11    163
22    162
13    162
15    148
20    144
16    115
19     96
8      94
12     85
18     84
17     82
21     81
3      69
7      61
6      35
4       9
5       4
Name: stop_time, dtype: int64

# Do most stops occur at night?

In [57]:
time_of_stops=pd.to_datetime(df['stop_time'])
search=(time_of_stops.dt.hour>17)|(time_of_stops.dt.hour<7)
df[search].value_counts()
df[search].shape
df[search].shape[0] / df.shape[0] night stops / total stops

SyntaxError: invalid syntax (<ipython-input-57-9c6a884dc09c>, line 5)